<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/tendanir/Music/ClientAppAutomation/ClientAppTest">
        <classes>
            <class name="Tests.ZoomClientTest"/>
            <class name="Tests.OpenFiberPortalChecklist"/>
        </classes>
    </test>
</suite>