<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/tendanir/Music/ClientAppAutomation/ClientAppTest">
        <classes>
            <class name="Tests.ZoomClientTest"/>
            <class name="Tests.OpenFiberPortalChecklist"/>
            <class name="Tests.Retool_NetworkSolutionApp_Test"/>
            <class name="Tests.HyperFiberPortalTest"/>
            <class name="Tests.ZoomFiberPortalTest"/>
            <class name="Tests.PrimeOnePortalTest"/>
            <class name="Tests.EvotelPortalTest"/>
            <class name="Tests.PTZambiaPortalTest"/>
            <class name="Tests.MagnoliaPortalTest"/>
            <class name="Tests.UnifybrPortalTest"/>
            <class name="Tests.LinklayerPortalTest"/>
        </classes>
    </test>
</suite>